<!DOCTYPE html>
<html>

  <head>
    <title>Smashin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
        <div id="wrap">
              <div id="main" class="container-fluid clear-top">

            <% if notice %>
              <p class="notice"><%= notice %></p>
            <% end %>

            <% if alert %>
              <p class="alert"><%= alert %></p>
            <% end %>

            <%= render 'layouts/navigation' %>

        <div id="push">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

  <footer class="footer">
      <%= render 'layouts/footer' %>
  </footer>

</html>
